		body {
		min-width: 1200px;
		margin: 0;
		padding: 0;
		background-color: #f2f2f2;
		font-size: 14px;
		line-height: 21px;
		color: #000000;
		font-weight: normal;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
	}

	.container {
		background-color: #ffffff;
		-webkit-box-shadow: 0px 0px 45px 15px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 0px 45px 15px rgba(0, 0, 0, 0.1);
		-ms-box-shadow: 0px 0px 45px 15px rgba(0, 0, 0, 0.1);
		-o-box-shadow: 0px 0px 45px 15px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 45px 15px rgba(0, 0, 0, 0.1);
		position: relative;
	}

	.sprite {
		background-image: url(../img/spritesheet-academy.png);
		background-repeat: no-repeat;
		display: block;
	}

	.sprite-html-academy-black {
		width: 195px;
		height: 39px;
		background-position: -10px -10px;
	}

	.sprite-html-academy-blue {
		width: 195px;
		height: 39px;
		background-position: -10px -69px;
	}

	.sprite-html-academy-grey {
		width: 195px;
		height: 39px;
		background-position: -10px -128px;
	}

	.sprite {
		background-image: url(spritesheet.png);
		background-repeat: no-repeat;
		display: block;
	}

	.sprite-calendar-black {
		width: 21px;
		height: 22px;
		background-position: -10px -94px;
	}

	.sprite-calendar-blue {
		width: 21px;
		height: 22px;
		background-position: -10px -136px;
	}

	.sprite-calendar-grey {
		width: 21px;
		height: 22px;
		background-position: -10px -178px;
	}

	.sprite-checked-grey {
		width: 26px;
		height: 22px;
		background-position: -10px -220px;
	}

	.sprite-checked-white {
		width: 26px;
		height: 22px;
		background-position: -10px -262px;
	}

	.sprite-down-black {
		width: 11px;
		height: 10px;
		background-position: -10px -304px;
	}

	.sprite-down-blue {
		width: 11px;
		height: 10px;
		background-position: -10px -334px;
	}

	.sprite-down-grey {
		width: 11px;
		height: 10px;
		background-position: -10px -364px;
	}

	.sprite-facebook-dark {
		width: 47px;
		height: 48px;
		background-position: -10px -394px;
	}

	.sprite-facebook-light {
		width: 47px;
		height: 48px;
		background-position: -10px -462px;
	}

	.sprite-facebook-normal {
		width: 47px;
		height: 48px;
		background-position: -10px -530px;
	}

	.sprite-food {
		width: 74px;
		height: 70px;
		background-position: -10px -598px;
	}

	.sprite-food-_-_____ {
		width: 74px;
		height: 70px;
		background-position: -10px -688px;
	}

	.sprite-four-stars {
		width: 89px;
		height: 17px;
		background-position: -10px -778px;
	}

	.sprite-property {
		width: 75px;
		height: 72px;
		background-position: -10px -815px;
	}

	.sprite-radio-blue {
		width: 20px;
		height: 23px;
		background-position: -10px -907px;
	}

	.sprite-radio-grey {
		width: 20px;
		height: 23px;
		background-position: -10px -950px;
	}

	.sprite-souvenirs {
		width: 64px;
		height: 76px;
		background-position: -10px -993px;
	}

	.sprite-three-stars {
		width: 65px;
		height: 17px;
		background-position: -10px -1089px;
	}

	.sprite-twitter-dark {
		width: 46px;
		height: 48px;
		background-position: -10px -1126px;
	}

	.sprite-twitter-light {
		width: 46px;
		height: 48px;
		background-position: -10px -1194px;
	}

	.sprite-twitter-normal {
		width: 46px;
		height: 48px;
		background-position: -10px -1262px;
	}

	.sprite-two-stars {
		width: 42px;
		height: 17px;
		background-position: -10px -1330px;
	}

	.sprite-unchecked-grey {
		width: 22px;
		height: 22px;
		background-position: -10px -1367px;
	}

	.sprite-unchecked-white {
		width: 22px;
		height: 22px;
		background-position: -10px -1409px;
	}

	.sprite-up-black {
		width: 11px;
		height: 10px;
		background-position: -10px -1451px;
	}

	.sprite-up-blue {
		width: 11px;
		height: 10px;
		background-position: -10px -1481px;
	}

	.sprite-up-grey {
		width: 11px;
		height: 10px;
		background-position: -10px -1511px;
	}

	.sprite-you-tube-dark {
		width: 46px;
		height: 48px;
		background-position: -10px -1541px;
	}

	.sprite-you-tube-light {
		width: 46px;
		height: 48px;
		background-position: -10px -1609px;
	}

	.sprite-you-tube-normal {
		width: 46px;
		height: 48px;
		background-position: -10px -1677px;
	}

	.container {
		width: 1200px;
		margin: auto;
		background-color: #ffffff;
	}
	/*header*/

	.main-navigation {
		width: 1200px;
		position: relative;
	}

	.main-menu {
		width: 1200px;
		padding: 0;
		list-style: none;
		font-size: 0;
	}

	.main-menu li {
		width: 240px;
		padding: 17px 0;
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
	}

	.main-menu a {
		text-decoration: none;
		color: #000000;
		font-weight: bold;
	}

	.main-menu a:hover {
		color: #81b3d2;
	}

	.main-menu a:active {
		color: #cacaca;
	}

	.main-menu .current {
		color: #766357;
	}

	.main-menu .current:hover {
		color: #81b3d2;
	}

	.main-menu .current:active {
		color: #cacaca;
	}

	.main-menu li:nth-child(1),
	.main-menu li:nth-child(2) {
		width: 168px;
		padding-left: 72px;
		text-align: left;
	}

	.main-menu li:nth-child(2) {
		margin-right: 236px;
	}

.main-menu li:nth-child(3) {
	width: 168px;
	text-align: right;
	padding-right: 76px;
}
	.main-menu li:nth-child(4) {
		width: 168px;
		padding-right: 72px;
		text-align: right;
	}

	.logo {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -69px;
	}
	/* greeting in index*/

	.greeting {
		width: 100%;
		overflow: hidden;
		background-color: inherit;
	}

	.greeting img {
		max-width: 100%;
		height: auto;
		margin-top: -83px;
	}
	/* description in index*/

	.description {
		width: 540px;
		margin: auto;
		padding-top: 38px;
		padding-bottom: 40px;
		text-align: center;
	}

	.description h2 {
		margin-bottom: 30px;
		font-size: 21px;
		line-height: 26px;
		color: #000000;
		font-weight: bold;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
	}

	.description p {
		font-size: 14px;
		line-height: 21px;
		color: #000000;
		font-weight: normal;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
	}
	/*features, advantages*/

	.features-blue {
		background-color: #81b3d2;
		color: #ffffff;
	}

	.features-grey {
		background-color: #eeeeee;
		position: relative;
		z-index: 3;
	}

	.features {
		font-size: 0;
		line-height: 0;
	}

	.features h2 {
		width: 160px;
		margin-top: 15px;
		margin-bottom: 24px;
		margin-left: auto;
		margin-right: auto;
		line-height: 21px;
		color: #ffffff;
		font-size: 21px;
		line-height: 21px;
		font-weight: bold;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
	}

	.features-grey h2 {
		color: #333333;
		margin-top: 18px;
	}

	.features p {
		width: 310px;
		margin-top: 21px;
		margin-left: auto;
		margin-right: auto;
	}

	.features-grey p {
		width: 270px;
	}

	.reasons-image,
	.reasons-item,
	.advantages-item {
		display: inline-block;
	}

	.reasons-image {
		vertical-align: top;
	}

	.reasons-image img {
		max-width: 100%;
		height: auto;
	}

	.reasons-item {
		width: 360px;
		padding-top: 30px;
		padding-bottom: 45px;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		font-size: 14px;
		line-height: 21px;
		vertical-align: top;
	}

	.advantages {
		font-size: 0;
	}

	.advantages-item {
		width: 300px;
		padding-top: 140px;
		padding-bottom: 70px;
		padding-left: 50px;
		padding-right: 50px;
		text-align: center;
		font-size: 14px;
		vertical-align: middle;
		position: relative;
	}

	.advantages-item::before {
		content: "";
		position: absolute;
		top: 60px;
		left: 50%;
		transform: translateX(-50%);
		background-image: url(../img/spritesheet.png);
		background-repeat: no-repeat;
	}

	.property::before {
		width: 75px;
		height: 72px;
		background-position: -10px -815px;
	}

	.food::before {
		width: 74px;
		height: 70px;
		background-position: -10px -598px;
	}

	.souvenirs::before {
		width: 64px;
		height: 76px;
		background-position: -10px -993px;
	}

	.advantages-item h2 {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 26px;
		color: #000000;
		font-weight: bold;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
	}

	.advantages-item p {
		font-size: 14px;
		line-height: 21px;
		color: #000000;
		font-weight: normal;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
	}
	/*hotel, hotel-book*/

	.hotel {
		width: 1200px;
		padding-top: 30px;
		text-align: center;
		background-color: #ffffff;
		position: relative;
		z-index: 3;
	}

	.hotel h1 {
		font-size: 30px;
		line-height: 32px;
		color: #000000;
		font-weight: bold;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
	}

	.hotel p {
		width: 440px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25px;
		margin-bottom: 47px;
		line-height: 24px;
		font-size: 14px;
		color: #000000;
		font-weight: normal;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
	}

	.hotel a {
		display: block;
		width: 568px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 32px;
		padding-bottom: 33px;
		text-decoration: none;
		font-size: 21px;
		font-weight: bold;
		color: #ffffff;
		background-color: #766357;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
	}
	/*окно поиска hotel-book */

	.hotel-book {
		width: 1200px;
		height: 593px;
		
		background-image: url(../img/map.png);
		background-color: #ffffff;
		position: relative;
		z-index: 1;
	}

	.hotel-book-window {
		display: block;
		width: 458px;
		padding: 55px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: #ffffff;
		-webkit-box-shadow: 0px 14px 55px -9px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 14px 55px -9px rgba(0, 0, 0, 0.3);
		-ms-box-shadow: 0px 14px 55px -9px rgba(0, 0, 0, 0.3);
		-o-box-shadow: 0px 14px 55px -9px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 14px 55px -9px rgba(0, 0, 0, 0.3);
	}

	.no-js .hotel-book-window {
		display: flex
	}

	.hotel-book-window-close {
		display: none;
	}

	.hotel-book-window-show {
		display: flex;
		-webkit-animation-name: show;
		animation: show;
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
	}
	@-webkit-keyframes show {
		0% {
			transform: translate(-50%, -100%);
		}
		100% {
			transform: translate(-50%, 0);
		}
	}
	@keyframes show {
		0% {
			transform: translate(-50%, -100%);
		}
		100% {
			transform: translate(-50%, 0);
		}
	}

	.hotel-book form {
		width: 456px;
		margin-left: auto;
		margin-right: auto;
		background-color: #ffffff;
		font-size: 0;
	}

	.booking-dates,
	.booking-adult,
	.booking-children,
	.hotel-book-window label {
		display: inline-block;
	}

	.booking-dates {
		width: 456px;
		height: 39px;
		margin-bottom: 28px;
		font-size: 0;
		line-height: 0;
		vertical-align: middle;
		position: relative;
	}

	.booking-dates label {
		display: inline-block;
		width: 112px;
		padding: 0;
		font-size: 14px;
		line-height: 21px;
		font-weight: bold;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
		vertical-align: middle;
	}

	.hotel-book input[type="text"] {
		display: inline-block;
		width: 332px;
		height: 39px;
		border: 0;
		padding: 0;
		padding-left: 12px;
		background-color: #f2f2f2;
		font-family: "PT Sans", "Arial", sans-serif;
		font-size: 14px;
		line-height: 26px;
		font-weight: bold;
		text-transform: uppercase;
		vertical-align: middle;
	}

	.booking-dates .calendar::before {
		content: "";
		position: absolute;
		top: 50%;
		right: 9px;
		transform: translateY(-50%);
		background-image: url(../img/spritesheet.png);
		background-repeat: no-repeat;
		width: 21px;
		height: 22px;
		background-position: -10px -178px;
	}

	.booking-dates .calendar:hover::before {
		width: 21px;
		height: 22px;
		background-position: -10px -94px;
	}

	.booking-dates .calendar:active::before {
		width: 21px;
		height: 22px;
		background-position: -10px -136px;
	}

	.hotel-book input[type="text"]:hover {
		background-color: #ebebeb;
	}

	.hotel-book input[type="text"]:focus {
		outline: 2px solid #e5e5e5;
		background-color: #ffffff;
	}

	.booking-adult {
		
		
		margin-top: 2px;
		margin-bottom: 52px;
		font-size: 0;
		line-height: 0;
		vertical-align: middle;
	}

	.booking-children {
		
		margin-top: 2px;
		margin-left: 51px;
		margin-bottom: 52px;
		font-size: 0;
		line-height: 0;
		vertical-align: middle;
	}

	.booking-children label {
		display: inline-block;
		width: 62px;
		padding: 0;
		margin: 0;
		text-align: left;
		font-size: 14px;
		line-height: 26px;
		font-weight: bold;
		vertical-align: middle;
	}

	.booking-adult label {
		display: inline-block;
		width: 109px;
		padding: 0;
		margin: 0;
		text-align: left;
		font-size: 14px;
		line-height: 26px;
		font-weight: bold;
		vertical-align: middle;
		
	}

	button[type="button"],
	input[type="number"] {
		display: inline-block;
		width: 39px;
		height: 39px;
		margin: 0;
		border: 0;
		padding: 0;
		background-color: #f2f2f2;
		font-family: "PT Sans", "Arial", sans-serif;
		font-size: 14px;
		line-height: 26px;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
	}

	button[type="button"] {
		font-size: 21px;
		line-height: 26px;
		color: #a9a9a9;
		border: none;
	}

	button[type="button"]:hover {
		outline: none;
		color: #000000;
	}

	button[type="button"]:active {
		outline: none;
		color: #81b3d2;
	}

	button[type="button"]:focus,
	input[type="number"]:focus {
		outline: none;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		-moz-appearance: textfield;
	}

	.hotel-book input[type="submit"] {
		width: 456px;
		height: 58px;
		border: none;
		padding: 0;
		margin-bottom: 0;
		background-color: #81b3d2;
		color: #ffffff;
		font-family: "PT Sans", "Arial", sans-serif;
		font-size: 21px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.hotel-book input[type="submit"]:hover {
		background-color: #669ec0;
		border: none;
	}

	.hotel-book input[type="submit"]:active {
		color: rgba(255, 255, 255, 0.3);
		background-color: #5496bd;
		border: none;
	}

	.hotel-book input[type="submit"]:focus {
		border: none;
	}
	/*footer*/

	.footer {
		width: 1200px;
		font-size: 0;
		padding-bottom: 36px;
		padding-top: 36px;
		background-color: rgba(255, 255, 255, 1);
	}

	.footer.index-page {
		position: absolute;
		z-index: 3;
		bottom: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.9);
	}

	.footer-hashtag,
	.footer-social,
	.footer-developer {
		display: inline-block;
		width: 400px;
		text-align: center;
		font-size: 14px;
		vertical-align: middle;
	}

	.footer-hashtag a {
		text-decoration: none;
		font-size: 21px;
		font-weight: bold;
		line-height: 26px;
		color: #000000;
	}

	.footer-hashtag a:hover {
		color: #81b3d2;
	}

	.footer-hashtag a:active {
		color: #d5d5d5;
	}

	.social-btn {
		display: inline-block;
		vertical-align: middle;
		width: 46px;
		height: 48px;
		font-size: 0;
		position: relative;
	}

	.social-btn::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-image: url(../img/spritesheet.png);
		background-repeat: no-repeat;
	}

	.social-twitter::before {
		width: 46px;
		height: 48px;
		background-position: -10px -1194px;
	}

	.social-twitter:hover::before {
		width: 46px;
		height: 48px;
		background-position: -10px -1262px;
	}

	.social-twitter:active::before {
		width: 46px;
		height: 48px;
		background-position: -10px -1126px;
	}

	.social-facebook::before {
		width: 47px;
		height: 48px;
		background-position: -10px -462px;
	}

	.social-facebook:hover::before {
		width: 47px;
		height: 48px;
		background-position: -10px -530px;
	}

	.social-facebook:active::before {
		width: 47px;
		height: 48px;
		background-position: -10px -394px;
	}

	.social-youtube::before {
		width: 46px;
		height: 48px;
		background-position: -10px -1609px;
	}

	.social-youtube:hover::before {
		width: 46px;
		height: 48px;
		background-position: -10px -1677px;
	}

	.social-youtube:active::before {
		width: 46px;
		height: 48px;
		background-position: -10px -1541px;
	}

	.footer-developer a {
		display: inline-block;
		vertical-align: middle;
		width: 195px;
		height: 39px;
		position: relative;
		font-size: 0;
		text-decoration: none;
	}

	.footer-developer a::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../img/spritesheet-academy.png);
		background-repeat: no-repeat;
		width: 195px;
		height: 39px;
		background-position: -10px -10px;
	}

	.footer-developer a:hover::before {
		width: 195px;
		height: 39px;
		background-position: -10px -69px;
	}

	.footer-developer a:active::before {
		width: 195px;
		height: 39px;
		background-position: -10px -128px;
	}
	/* форма поиска гостиницы по критериям - filter*/

	.filter {
		width: 1056px;
		background-color: #81b3d2;
		background-image: url("../img/greeting-hotels.jpg");
		padding: 31px 72px;
		font-size: 0;
		line-height: 0;
		color: #ffffff;
	}

	.filter form {
		width: 1056px;
	}

	.filter h2 {
		margin: 0;
		margin-top: -3px;
		font-size: 16px;
		line-height: 21px;
		color: #ffffff;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
	}

	.facilities,
	.property-type,
	.price,
	.result-image,
	.result-description,
	.result-booking,
	.result-hotel-level,
	.result-hotel {
		display: inline-block;
	}

	.facilities {
		width: 254px;
		vertical-align: top;
		font-size: 14px;
		line-height: 21px;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
	}

	.choice {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.choice input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"]+label {
		display: block;
		margin: 0;
		margin-top: 24px;
		padding-left: 40px;
		font-size: 14px;
		line-height: 22px;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
		position: relative;
		cursor: pointer;
	}

	input[type="checkbox"]+label::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../img/spritesheet.png);
		background-repeat: no-repeat;
		width: 22px;
		height: 22px;
		background-position: -10px -1409px;
	}

	input[type="checkbox"]:checked+label::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../img/spritesheet.png);
		background-repeat: no-repeat;
		width: 26px;
		height: 22px;
		background-position: -10px -262px;
	}

	input[type="checkbox"]:disabled+label::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../img/spritesheet.png);
		background-repeat: no-repeat;
		width: 22px;
		height: 22px;
		background-position: -10px -1367px;
	}

	input[type="checkbox"]:disabled:checked+label::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../img/spritesheet.png);
		background-repeat: no-repeat;
		width: 26px;
		height: 22px;
		background-position: -10px -220px;
	}

	.property-type {
		width: 484px;
		vertical-align: top;
		font-size: 14px;
		line-height: 21px;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
	}
	/*выбор цены*/

	.price {
		width: 318px;
		vertical-align: top;
		font-size: 14px;
		line-height: 21px;
	}

	.price h2 {
		margin-bottom: 10px;
	}

	.price-controls {
		height: 32px;
		margin-bottom: 20px;
		border: 2px solid #ffffff;
		border-radius: 2px;
		font-size: 0;
		position: relative;
	}

	.price-controls::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2px;
		height: 22px;
		background: #ffffff;
		transform: translate(-50%, -50%);
	}

	.price-controls label {
		display: inline-block;
		font-size: 14px;
		padding: 0;
		line-height: 34px;
		vertical-align: top;
		cursor: pointer;
		position: relative;
	}

	.price-controls .min-price {
		width: 90px;
		padding-left: 65px;
	}

	.price-controls .max-price {
		width: 100px;
		padding-left: 55px;
	}

	.price-controls input {
		width: 40px;
		height: 34px;
		padding: 0;
		line-height: 34px;
		color: inherit;
		font: inherit;
		background: none;
		border: none;
		text-align: left;
	}

	.from {
		margin: 0;
		margin-left: 5px;
	}

	.till {
		margin: 0;
	}

	.range-controls {
		position: relative;
		margin-bottom: 32px;
	}

	.range-controls .scale {
		height: 2px;
		background: rgba(255, 255, 255, 0.3);
	}

	.range-controls .bar {
		width: 80%;
		height: 2px;
		background: #ffffff;
	}

	.range-toggle {
		position: absolute;
		top: -9px;
		width: 4px;
		height: 4px;
		background: #ababab;
		border: 8px solid #ffffff;
		border-radius: 50%;
		box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
		cursor: pointer;
	}

	.range-toggle:hover {
		background: #1c4f80;
	}

	.range-toggle-min {
		left: 0;
	}

	.range-toggle-max {
		left: 80%;
	}

	.btn-transparent {
		display: block;
		width: 135px;
		margin: 0;
		margin-left: 85px;
		padding: 6px 32px;
		font-size: 14px;
		line-height: 20px;
		color: #ffffff;
		text-transform: uppercase;
		background: transparent;
		border: 2px solid #ffffff;
		border-radius: 2px;
		cursor: pointer;
	}

	.btn-transparent:hover {
		background: #ffffff;
		color: #000000;
	}
	/*search-table */

	.search-table {
		width: 1056px;
		padding: 30px 72px;
		font-size: 0;
		border-bottom: 2px solid #e5e5e5;
	}

	.results-number,
	.sort-bar,
	.sort-button {
		display: inline-block;
	}

	.results-number h3 {
		display: inline-block;
		width: 166px;
		margin: 0;
		padding: 0;
		font-size: 21px;
		font-weight: bold;
		line-height: 26px;
		vertical-align: bottom;
	}

	.sort-bar {
		width: 779px;
		margin: 0;
		padding: 0;
		padding-bottom: 2px;
		vertical-align: bottom;
	}

	.sort-word {
		display: inline-block;
		vertical-align: bottom;
		font-size: 12px;
		line-height: 18px;
		margin: 0;
		padding: 0;
		padding-right: 5px;
	}

	.search-table ul {
		display: inline-block;
		list-style: none;
		vertical-align: bottom;
		padding: 0;
		margin: 0;
	}

	.sort-bar li {
		display: inline-block;
		padding: 0;
		padding-left: 33px;
		margin: 0;
		vertical-align: bottom;
	}

	.sort-bar a {
		display: inline-block;
		text-decoration: none;
		margin: 0;
		padding: 0;
		vertical-align: bottom;
		font-size: 12px;
		line-height: 14px;
		border-bottom: dotted 1px #81b3d2;
		color: #cacaca;
	}

	.sort-bar a:hover {
		color: #81b3d2;
	}

	.sort-bar a:active {
		color: #000000;
		border-bottom: none;
	}

	.sort-bar .current-choice,
	.sort-bar .current-choice:hover,
	.sort-bar .current-choice:active {
		color: #81b3d2;
		border-bottom: none;
	}

	.sort-button {
		width: 111px;
		margin: 0;
		padding: 0;
		font-size: 0;
		text-align: right;
		vertical-align: bottom;
	}

	.sort-button li {
		display: inline-block;
		padding: 0;
		margin: 0;
		vertical-align: bottom;
	}

	.sort-button a {
		display: inline-block;
		vertical-align: bottom;
		width: 24px;
		height: 10px;
		padding: 4px 0;
		margin: 0;
		background-color: #ffffff;
		position: relative;
	}

	.sort-button a::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		background-image: url(../img/spritesheet.png);
		background-repeat: no-repeat;
	}

	.up::before {
		width: 11px;
		height: 10px;
		background-position: -10px -1511px;
	}

	.up:hover::before {
		width: 11px;
		height: 10px;
		background-position: -10px -1451px;
	}

	.up:active::before {
		width: 11px;
		height: 10px;
		background-position: -10px -1481px;
	}

	.down::before {
		width: 11px;
		height: 10px;
		background-position: -10px -364px;
	}

	.down:hover::before {
		width: 11px;
		height: 10px;
		background-position: -10px -304px;
	}

	.down:active::before {
		width: 11px;
		height: 10px;
		background-position: -10px -334px;
	}

	.current-button::before,
	.current-button:hover::before,
	.current-button:active::before {
		width: 11px;
		height: 10px;
		background-position: -10px -334px;
	}
	/*articles inner*/

	.result-item {
		width: 1056px;
		padding: 30px 72px;
		font-size: 0;
		line-height: 0;
		border-bottom: 1px solid #e5e5e5;
	}

	.result-image {
		max-width: 100%;
		height: auto;
		padding-right: 31px;
		vertical-align: top;
	}

	.result-hotel {
		width: 779px;
		padding: 0;
		vertical-align: top;
	}

	.result-hotel h1 {
		display: inline-block;
		width: 300px;
		padding: 0;
		margin-top: -4px;
		margin-bottom: 10px;
		margin-right: 490px;
		vertical-align: top;
	}

	.hotel-name {
		font-size: 21px;
		line-height: 21px;
		padding: 0;
		color: #000000;
		font-weight: bold;
		font-family: "PT Sans", "Arial", sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		color: #000000;
	}

	.hotel-name:hover {
		color: #81b3d2;
	}

	.hotel-name:active {
		color: #cacaca;
	}

	.result-description {
		width: 110px;
		margin-right: 6px;
		font-size: 14px;
		line-height: 24px;
		vertical-align: bottom;
	}

	.result-booking {
		width: 142px;
		margin-left: 0;
		font-size: 14px;
		line-height: 24px;
		vertical-align: bottom;
	}

	.result-description a,
	.result-booking a {
		display: inline-block;
		height: 24px;
		margin-top: 12px;
		padding-top: 3px;
		text-align: center;
		font-weight: bold;
		text-decoration: none;
		font-size: 14px;
		line-height: 21px;
		color: rgba(255, 255, 255, 1);
		vertical-align: top;
	}

	.result-description a {
		width: 110px;
		background-color: #81b3d2;
	}

	.result-description a:hover {
		background-color: #669ec0;
	}

	.result-description a:active {
		color: rgba(255, 255, 255, 0.3);
		background-color: #5496bd;
	}

	.result-booking a {
		width: 142px;
		background-color: #766357
	}

	.result-booking a:hover {
		background-color: #604e43;
	}

	.result-booking a:active {
		color: #857871;
		background-color: #503e33;
	}

	.result-hotel-level {
		width: 111px;
		margin-right: 0;
		vertical-align: top;
		position: relative;
	}

	.rating {
		display: inline-block;
		width: 111px;
		height: 27px;
		margin-top: 62px;
		margin-bottom: 0;
		background-color: #f2f2f2;
		font-size: 14px;
		line-height: 27px;
		text-align: center;
	}

	.stars::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		background-image: url(../img/spritesheet.png);
		background-repeat: no-repeat;
	}

	.stars-four::before {
		width: 89px;
		height: 17px;
		background-position: -10px -778px;
	}

	.stars-three::before {
		width: 65px;
		height: 17px;
		background-position: -10px -1089px;
	}

	.stars-two::before {
		width: 42px;
		height: 17px;
		background-position: -10px -1330px;
}
